body {
    color: #414141;
    background-color: #8faf9f;
 font-size: 18px;
 }

 h1 {
    text-align: center;
   /*  font-size: 36px; using pixels */
  font-size: 2 em;
}

h2
  .center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%; 
    height: auto;
}

h1, h2, h3, h4, h5 h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    /*font-size 20px; using pixels */
    text-align left
    font-weight normal;
}

body {
    padding: 2rem;
}

.gallery {
    display: grid;

    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 1rem; 
    max-width: 1000px;
    margin: 0 auto; 
}

.gallery__item img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    display: block;
}


.gallery__item:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


@media (max-width: 600px) {
    .gallery {
        
        grid-template-columns: repeat(2, 1fr); 
    }
}

ul {
    list-style-type: circle;
}

ol {
   list-style-type :lower-greek;
}

a{
    text-decoration: none;
}

p{
 <element class="form-row":
    .form-row: center;
    .form-row input type='text',
    .form-row input type='email', 
    .form-row input type='phone number' 
 }

{
    <background-color> #E8A1B2;
    border: 2px solid #C9A24D;
    border-radius: 5px;
    width: 20%;
    margin: 0 auto;
    padding: 7px;
    font-size: 14px;
    text-align:center;
    }

.page{
    width: 600px;
    margin:0px auto;
}
.call-to-action {
    font-style: italic;
    background-color: #EEB75A;
}


a:link {
    color: #0000ff;
    text-decoration: none;
}

a:visited {
    color:#800080;
}

a:hover {
    color: #C6B7E2;
    text-decoration: underline;
}

a:active {
    color:#ff0000;
}

.nav {
     background-color: #C6B7E2;    /* lavender*/
     font-weight: bold;
     padding: 20px;
     margin: 20px auto;
   }



